body {
  font-family: 'Ubuntu', sans-serif;
  font-weight:300;
}

a {
  color: #f28200;
}

a:hover {
  color: #c36900;
  text-decoration: underline;
}


/* JUMBOTRON HEADER STYLE*/
.jumbotron {
  height: 95vh;
  background: url("assets/backgrounds/IEEE_Ford.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom:0px;
}

#header {
  z-index: 0;
  right: 5%;
  text-align: center;
}

#header h1, #header h2 {
  color: white;
}

/*GENERAL SECTION STYLING*/
section {
	position: relative;
	z-index: 1;
	min-height: 75vh;
	padding-top: 8%;
	padding-bottom: 10%;
}

section h3 {
	text-align: center;
}

.container {
	padding-left: 20%;
	padding-right: 20%;
}

.hidden {
	visibility: hidden;
}

.fixed {
	position: fixed;
}

/*********************/
/* BEGIN ABOUT STYLE */
/*********************/
#about {
  background-color: #6f6f6f;
  color:white;
}
/* END ABOUT STYLE */


/*******************/
/* BEGIN WWD STYLE */
/*******************/
#what-we-do {
  background-color:white;
}

.wwd-container {
  position:relative;
  width:100%;
}

.wwd-box {
  position: relative;
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.wwd-container:hover .wwd-box {
  opacity: 0.25;
}

.wwd-container .smalltext {
  visibility: hidden;
  color: white;
  position:absolute;
  text-align:center;
  top: 30%;
  width: 100%;
  padding-left:5%;
  padding-right:5%;
  opacity: 0;
  -webkit-transition: all 300ms ease-out;  
  -moz-transition: all 300ms ease-out;  
  -o-transition: all 300ms ease-out;  
  -ms-transition: all 300ms ease-out;  
  transition: all 300ms ease-out;  
}

.wwd-container:hover .smalltext {
  visibility: visible;
  color: black;
  position:absolute;
  text-align: center;
  padding-left:5%;
  padding-right:5%;
  top: 25%;
  width: 100%;
  opacity: 1;
}

.wwd-box .bigtext {
  color: white;
  position:absolute;
  text-align: center;
  top: 10%;
  width: 100%;
  opacity: 1;
  -webkit-transition: all 300ms ease-out;  
  -moz-transition: all 300ms ease-out;  
  -o-transition: all 300ms ease-out;  
  -ms-transition: all 300ms ease-out;  
  transition: all 300ms ease-out; 
}

.wwd-container:hover .bigtext {
  visibility:hidden;
  opacity: 0;
}
/* END WWD STYLE */

/**********************/
/* BEGIN EVENTS STYLE */
/**********************/
#events {
  background-color: #00537b;
  color:white;
}

.event {
  padding-top: 3em;
  padding-bottom: 3em;
  margin-left: 3em;
  margin-right: 3em;
  border-bottom: 1px solid #FFF;
}

.event-title a {
  color: #f28200;
}

.event-title:hover a {
  color: #c36900;
  text-decoration: underline;
}
/* END EVENTS STYLE */

/**************************/
/* BEGIN EXEC BOARD STYLE */
/**************************/
#members .container {
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
}

#members .row {
  padding-top: 15px;
  padding-bottom: 15px;
}

#members .row img {
  height:8em;
  border-radius: 50%;
}

#members .container {
	text-align: center;
	padding-left: 15%;
	padding-right: 15%;
}

#members .row {
	padding-top: 15px;
	padding-bottom: 15px;
}

#members .row img {
	height:8em;
	border-radius: 50%;
}

#member {
  padding-bottom: 50px;
}
/* END EXEC BOARD STYLE */

/******************/
/* BEGIN AE STYLE */
/******************/
#AE {
  background-color: #07abfb;
  color: white;
}
/*END AE STYLE*/

/**********************/
/* Begin Footer Style */
/**********************/
footer {
  text-align:center;
  position: relative;
  padding-top: 20px;
  height: 80px;
  width: 100%;
  z-index: 1;
  background-color: #003f5d;
}

#facebook, #ieee, #email {
  margin-right: 40px;
  height: 40px;
  width: 40px;
  display:inline-block;
}

#facebook {
  background: url("assets/backgrounds/facebook-stack.png") no-repeat;
  background-position: -5px -5px;
}

#facebook:hover {
  background-position: -5px -55px;  
}

#ieee {
  background: url("assets/backgrounds/ieee-stack.png") no-repeat;
  background-position: -5px -5px;
}

#ieee:hover {
  background-position: -5px -55px;  
}

#email {
  background: url("assets/backgrounds/email-stack.png") no-repeat;
  background-position: -5px -5px;
}

#email:hover {
  background-position: -5px -55px;  
}
/* End Footer Style */

/********************/
/* BEGIN MENU STYLE */
/********************/
#menu {
  color: #f28200;
  position: fixed;
  z-index: 99;
  top: 10px;
  left: 10px;
}

#menu ul {
  margin-left: 0;
  margin-top:5px;
  padding-top:5px;
  padding-left: 10px;
  padding-right: 10px;
  background: rgba(248, 248, 248, 0.5);
  -moz-border-radius: 6px; 
  border-radius: 6px; /* standards-compliant: (IE) */
  position:relative;
}

#menu li {
  margin-left:0;
  padding-bottom: 10px;
  list-style: none;
}

#menu a {
  color:black;
  font-weight:500;
}

.fade {
  transition: 0.3s linear all;  
  opacity: 1;
  left:0%;
}

.fade.ng-hide {
  opacity: 0;
  left:-100%;
}

.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 48px;
  height: 48px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  background: none;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 22px;
  left: 9px;
  right: 9px;
  height: 4px;
  background: #f28200;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #f28200;
  content: "";
}

.c-hamburger span::before {
  top: -10px;
}

.c-hamburger span::after {
  bottom: -10px;
}

.c-hamburger--htx {
  /*background-color: #003f5d;*/
}

.c-hamburger--htx span {
  transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
  transition-property: top, transform;
}

.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
  /*background-color: #cb0032;*/
}

.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
  background-color: #c36900;
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
  background-color: #c36900;
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s;
}
/* END MENU STYLE */