<!DOCTYPE HTML>
<html lang="en" ng-app="ieeeApp">
  <head>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:500,300' rel='stylesheet' type='text/css'>
    <title>Explore - IEEE NU</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Author" content="IEEE NU">

    <!--build:css styles.css-->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="custom.css">
    <!-- /build -->
    <link rel="shortcut icon" href="favicon.ico"/>
  </head>

  <body ng-controller="HomeCtrl">
    <div id="menu">
      <button ng-click="toggleMenu()" class="c-hamburger c-hamburger--htx">
        <span>toggle menu</span>
      </button>
      <nav>
        <ul ng-show="menuOpen" class="fade">
          <li><a href="index.html">Back</a></li>
          <li><a href="#what-we-do" du-smooth-scroll>What We Do</a></li>
          <li><a href="#what-is-it" du-smooth-scroll>What Is It?</a></li>
          <li><a href="#quarterly-schedule" du-smooth-scroll>Quarterly Schedule</a></li>
          <li><a href="#members" du-smooth-scroll>Project Mentors</a></li>
          <li><a href="#showcase" du-smooth-scroll>Project Showcase</a></li>
        </ul>
      </nav>
    </div>

    <div class="jumbotron">
      <div id="header" class="fixed">
        <h1>Explore</h1>
        <h2><a href="index.html" style="color:white">IEEE NU</a></h2>
      </div>
    </div>

    <section id="what-we-do">
      <div class="container">
        <h3>What We Do</h3>
        <div class="row">
          <div class="col-md-4">
            <div class="wwd-container">
              <a href="educate.html"> 
                <div class="wwd-box">
                  <img src="assets/wwd/educate.jpg" class="img-responsive" alt=""/>
                  <h1 class="bigtext">Educate</h1>
                </div>
                <p class="smalltext">Host workshops and tech talks.</p>
              </a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="wwd-clicked-container">
              <div class="wwd-box">
                <img src="assets/wwd/explore.jpg" class="img-responsive" />
                <h1 class="bigtext">Explore</h1> 
                <p class="smalltext">Provide mentorship and hands-on technical training.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="wwd-container">
              <a href="enjoy.html">
                <div class="wwd-box">
                  <img src="assets/wwd/enjoy.jpg" class="img-responsive" />
                  <h1 class="bigtext">Enjoy</h1>
                </div>
                <p class="smalltext">Organize barbeques and other fun activites.</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="what-is-it">
      <div class="container">
        <h3>What Is It?</h3>
          <p>Interested in exploring the world of software development? Want to take a crack at building something fun or useful with your hardware of choice? Eager to start some sort of project, but don't know how to get going?</p>
          <p>Every fall quarter, the IEEE Executive Board takes motivated students and guides them through a program focused on mentorship and the introductory exploration of an EECS-related technology.</p>
      </div>
    </section>

    <section id="events">
      <div class="container">
        <h3 ng-if="upcomingEvents.length > 0">Quarterly Schedule</h3>
        <h4> Coming Soon! </h4>
        <!-- <div class="events-container">
          <div class="event" ng-repeat="event in upcomingEvents">
            <h4 class="event-title" ng-if="event.fblink"><a target="_blank" href="{{event.fblink}}">{{event.summary}}</a></h4>
            <h4 class="event-title" ng-if="!event.fblink">{{event.summary}}</h4>
            <p ng-if="event.start.date">{{event.start.date | date:'MMM dd'}} - {{event.end.date | date:'MMM dd, yyyy'}}</p>
            <p ng-if="event.start.dateTime">{{event.start.dateTime | date:'MMM d, yyyy'}}</p>
            <p ng-if="event.start.dateTime">{{event.start.dateTime | date:'h:mm a'}} - {{event.end.dateTime | date:'h:mm a'}}</p>
            <p ng-if="event.location">Location: {{event.location}}</p>
            <p ng-if="event.description"><i>{{event.description}}</i></p>
          </div>
        </div> -->
      </div>
    </section>

    <section id="members">
      <div class="container">
        <h3>Project Mentors</h3>
        <div class="row">
          <div ng-repeat="member in pm">
              <div class="clearfix" ng-if="$index % 4 == 0"></div>
              <div id="member" class="col-md-3">
                  <img ng-src="{{member.img}}" alt="headshot.jpg">
                  <h4>{{member.name}}</h4>
                  <p>{{member.position}}</p>
              </div>
          </div>
        </div>
      </div>
    </section>

    <section id="showcase">
      <div class="container">
          <h3>Project Showcase</h3>
          <p>At the end of winter quarter, the teams who feel confident in their project are given with the oppurtunity to present their product in front of a panel of judges. This event is openn to the public, and fellow students as well as anyone in the area can come by and take a look at what our members have built.</p>
          <p>This is not simply limited to the IE3 program. Any person or group who wishes to can participate and compete in the showcase.</p>
      </div>
    </section>

    <footer>
      <a href="http://facebook.com/groups/ieee.nu">
        <span id="facebook"></span>
      </a>
      <a href="https://www.ieee.org/index.html">
        <span id="ieee"></span>
      </a>
      <a href="mailto:ieee@u.northwestern.edu">
        <span id="email"></span>
      </a>
    </footer>

    <!--build:js scripts.js-->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-scroll/angular-scroll.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
    <!-- /build -->
    <script src="js/hamburger.js"></script>
  </body>
</html>