<!DOCTYPE HTML>
<html lang="en" ng-app="ieeeApp">
  <head>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:500,300' rel='stylesheet' type='text/css'>
    <title>IEEE NU</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Author" content="IEEE NU">

    <!--build:css styles.css-->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="custom.css">
    <!-- /build -->
    <link rel="shortcut icon" href="favicon.ico"/>
  </head>

  <body ng-controller="HomeCtrl">
    <div id="menu">
      <button ng-click="toggleMenu()" class="c-hamburger c-hamburger--htx">
        <span>toggle menu</span>
      </button>
      <nav>
        <ul ng-show="menuOpen" class="fade">
          <li><a href="#about" du-smooth-scroll>About Us</a></li>
          <li><a href="#what-we-do" du-smooth-scroll>What We Do</a></li>
          <li><a href="#events" du-smooth-scroll>Events</a></li>
          <li><a href="#members" du-smooth-scroll>Executive Board</a></li>
          <li><a href="#IE3" du-smooth-scroll>IE3 Program</a></li>
        </ul>
      </nav>
    </div>

    <div class="jumbotron">
      <div id="header" class="fixed">
        <h1>IEEE</h1>
        <h2>Northwestern University</h2>
      </div>
    </div>

    <section id="about">
      <div class="container">
        <h3>About Us</h3>
          <p>
            The Northwestern University Student Chapter of the Institute of Electrical and Electronics Engineers (IEEE NU) is an organization dedicated to providing the resources and outlets through which the University's aspiring engineers, tinkerers, and hackers can learn and create with their craft.
          </p>
          <p>
            Our chapter is directly supported and funded by Northwestern University's <a class="link" target="_blank" href="http://www.mccormick.northwestern.edu/eecs/">Electrical Engineering and Computer Science</a> (EECS) department.
          </p>
      </div>
    </section>

    <section id="what-we-do">
      <div class="container">
        <h3>What We Do</h3>
        <div class="row">
          <div class="col-md-4">
            <div class="wwd-container">
              <div class="wwd-box">
                <img src="assets/wwd/educate.jpg" class="img-responsive" alt=""/>
                <h1 class="bigtext">Educate</h1>
              </div>
              <p class="smalltext">Provide mentorship and technical skills training.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="wwd-container"> 
              <a href="ie3.html"> 
                <div class="wwd-box">
                 <img src="assets/wwd/explore.jpg" class="img-responsive" /> 
                  <h1 class="bigtext"> Explore </h1> 
                </div>
                  <p class="smalltext">Put on tech talks and workshops.</p> 
              </a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="wwd-container">
              <a href="social.html">
                <div class="wwd-box">
                  <img src="assets/wwd/enjoy.jpg" class="img-responsive" />
                  <h1 class="bigtext">Enjoy</h1>
                </div>
                <p class="smalltext">Host barbecues, hack nights, and other fun activites.</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="events">
      <div class="container">
        <h3 ng-if="upcomingEvents.length > 0">Upcoming Events</h3>
        <div class="events-container">
          <div class="event" ng-repeat="event in upcomingEvents">
            <h4 class="event-title" ng-if="event.fblink"><a target="_blank" href="{{event.fblink}}">{{event.summary}}</a></h4>
            <h4 class="event-title" ng-if="!event.fblink">{{event.summary}}</h4>
            <p ng-if="event.start.date">{{event.start.date | date:'MMM dd'}} - {{event.end.date | date:'MMM dd, yyyy'}}</p>
            <p ng-if="event.start.dateTime">{{event.start.dateTime | date:'MMM d, yyyy'}}</p>
            <p ng-if="event.start.dateTime">{{event.start.dateTime | date:'h:mm a'}} - {{event.end.dateTime | date:'h:mm a'}}</p>
            <p ng-if="event.location">Location: {{event.location}}</p>
            <p ng-if="event.description"><i>{{event.description}}</i></p>
          </div>
        </div>

        <h3 ng-if="pastEvents.length > 0">Past Events</h3>
        <div class="events-container">
          <div class="event" ng-repeat="event in pastEvents">
            <h4 class="event-title" ng-if="event.fblink"><a target="_blank" href="{{event.fblink}}">{{event.summary}}</a></h4>
            <h4 class="event-title" ng-if="!event.fblink">{{event.summary}}</h4>
            <p ng-if="event.start.date">{{event.start.date | date:'MMM dd'}} - {{event.end.date | date:'MMM dd, yyyy'}}</p>
            <p ng-if="event.start.dateTime">{{event.start.dateTime | date:'MMM d, yyyy'}}</p>
            <p ng-if="event.start.dateTime">{{event.start.dateTime | date:'h:mm a'}} - {{event.end.dateTime | date:'h:mm a'}}</p>
            <p ng-if="event.location">Location: {{event.location}}</p>
            <p ng-if="event.description">{{event.description}}</p>
          </div>
        </div>
      </div>
    </section>

    <section id="members">
      <div class="container">
        <h3>Executive Board</h3>
        <div class="row">
          <div ng-repeat="member in exec">
              <div class="clearfix" ng-if="$index % 4 == 0"></div>
              <div id="member" class="col-md-3">
                  <img ng-src="{{member.img}}" alt="headshot.jpg">
                  <h4>{{member.name}}</h4>
                  <p>{{member.position}}</p>
              </div>
          </div>
        </div>
      </div>
    </section>

    <section id="IE3">
      <div class="container">
          <h3>IE3 Program</h3>
          <p>Interested in exploring the world of software development? Want to take a crack at building something fun or useful with your hardware of choice? Eager to start some sort of project, but don't know how to get going?</p>
          <p>Every fall quarter, the IEEE Executive Board takes several motivated freshman and sophomore students and guides them through a program focused on mentorship and the introductory exploration of an EECS-related technology.
          </a></p>
          <p><b></b></p> 
      </div>
    </section>

    <footer>
      <a href="http://facebook.com/groups/ieee.nu">
        <span id="facebook"></span>
      </a>
      <a href="https://www.ieee.org/index.html">
        <span id="ieee"></span>
      </a>
      <a href="mailto:ieee@u.northwestern.edu">
        <span id="email"></span>
      </a>
    </footer>

    <!--build:js scripts.js-->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-scroll/angular-scroll.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
    <!-- /build -->
    <script src="js/hamburger.js"></script>
  </body>
</html>